.full_body_class {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  /* animation: fadeInLeft; 
  animation-duration: 3s; */
  /* width: 100%; */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 45vw auto; /*change here*/
  grid-column-gap: 1vw;
}

.grid_container {
  margin-top: 4vh;
  border-radius: 20px;
  display: grid;

  grid-template-columns: 25vw 10vw;
  grid-template-rows: repeat(5, 15vh);
  /* 
  justify-items: flex-start; */
  align-items: center;
  justify-content: center;
  grid-column-gap: 1vw;
  /* align-content: center; */
  grid-row-gap: 1vh;
  border: solid 2px dodgerblue;
  overflow: hidden;
  padding: 5vh 0vw 5vh 0vw;
}

.ques {
  /* border: 2px solid red; */
}

.sol {
  border: 1px dashed grey;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sol > img {
  width: 50%;
}
.buttons-class {
  display: flex;
  justify-content: center;
}

/**************************************************************************************************************************************/

.image_row {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* display: inline-block; */
  background-color: #428bca;
  border-radius: 15px;
  /* width: 60vw; */
  margin-bottom: 15vh;
}

.image_row > img {
  margin: 6px;
  border-radius: 50%;
  max-width: 6vw;
}

/*Button*/
button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  margin-top: 5px;
}

button:hover {
  background-color: #4095c6;
}
@media all and (max-width: 30em) {
   button {
    display: block;
    margin: 0.2em auto;
  }
}

.in_image {
  display: inline-block;
}

/*Success fail message class*/
.msg_class {
  border: solid 1px black;
  opacity: 1;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  font-size: 2.5rem;
  width: 50vw;
}

.msg_class.success {
  background-color: lime;
}
/*Success fail message class*/
.msg_class.fail {
  background-color: red;
  color: white;
}

.mobile_screen_class {
  display: none;
}

@media screen and (max-width: 600px) {
  #full_body {
    display: none;
  }
  .mobile_screen_class {
    display: inline !important;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.5rem;
    color: red;
  }
}

/*Classes for successfull selection*/
.success_selected {
  box-shadow: 0 0 25px green inset !important;
}
.fail_selected {
  box-shadow: 0 0 25px red inset !important;
}

/*Success and fail message css*/

.in_image:hover {
  transform: scale(1.05);
}

.my-element {
  margin: 0 0.5rem;
  animation: bounce; /*referring directly to the animation's @keyframe declaration*/
  animation-duration: 2s; /* don't forget to set a duration! */
}

wr {
  color: red;
  font-weight: bold;
  font-size: 2.5rem;
}
r {
  color: green;
  font-weight: bold;
  font-size: 2.5rem;
}
